!!! 5
%html{:lang => 'en'}
  / Hello dear source reader, feel free to wander around.
  %head
    / I *love* UTF-8
    %meta{:charset => "utf-8"}
    - unless title
      %meta{:"http-equiv" => "Refresh", :href => "0;#{Blog.url}/#{articles.last.url}"}
    %title #{"#{title} - " if title}Blog.url.gsub("http://", "")
    %script{:src => "/articles.js?#{tag = Base64.encode64(Blog.etag)}", :type => "text/javascript"}
    %script{:src => "/blog.js?#{tag}", :type => "text/javascript"}
    %link{:href => "/blog.css?#{tag}", :rel => "stylesheet", :type => "text/css"}
    %link{:rel => "alternate", :type => "application/rss+xml", :title => Blog.url.gsub("http://", ""), :href => "http://feeds.feedburner.com/#{Blog.feedburner}"}

  %body.hyphenate
    / IE 9 supports CSS3/HTML5, or at least that's what I'm told.
    /[if lt IE 9]
      %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js")
      #prompt
      :javascript
        window.attachEvent("onload", function() { CFInstall.check({ mode: "inline", node: "prompt" })});
    .blog= yield
