!!! 5
%html{:lang => 'en'}
  / Hello dear source reader, feel free to wander around.
  %head
    / I really think you should use https
    :javascript
      var host = "#{Blog.url.gsub('https://', '')}";
      if ((host == window.location.host) && (window.location.protocol != "https:")) window.location.protocol = "https";
    / I *love* UTF-8
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1.0"}
    %title #{"#{title} - " if title}#{Blog.url.gsub("https://", "")}
    %script{:src => "/articles.js?#{tag = Base64.encode64(Blog.etag)}", :type => "text/javascript"}
    %script{:src => "/blog.js?#{tag}", :type => "text/javascript"}
    %link{:href => '//fonts.googleapis.com/css?family=Fanwood+Text', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '//fonts.googleapis.com/css?family=Source+Sans+Pro', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => "/blog.css?#{tag}", :rel => "stylesheet", :type => "text/css"}
    %link{:rel => "canonical", :href => "#{Blog.url}"}
    %link{:rel => "icon", :type => "image/jpeg", :href => "//upload.wikimedia.org/wikipedia/commons/a/a8/Cesium.svg"}
    %link{:rel => "alternate", :type => "application/rss+xml", :title => Blog.url.gsub("http://", ""), :href => "http://feeds.feedburner.com/#{Blog.feedburner}"}

  %body.hyphenate
    / IE 9 supports CSS3/HTML5, or at least that's what I'm told.
    /[if lt IE 9]
      %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js")
      #prompt
      :javascript
        window.attachEvent("onload", function() { CFInstall.check({ mode: "inline", node: "prompt" })});
    .blog
      .header
        Coding and stuff
        .subtitle Because, because, because of the wonderful things he does
      %nav
        - link = proc do |klass, symbol, page|
          - if page == self
            %span{:class => "link #{klass}"}= symbol
          - else
            - if page.title
              - short_title = "#{page.title[0..30]}#{'&hellip;' if page.title.length > 31}"
            %a{:class => "link #{klass}", :href => page.url, :title => short_title || "No title"}= symbol
        - link['first', '&lt;&lt;', articles.first]; link['prev',  '&lt;',     prev_page     ]
        - link['next',  '&gt;',     next_page     ]; link['last',  '&gt;&gt;', articles.last ]
      %article{'data-source' => url.to_s}
        = yield
      %aside
        - if Blog.feedburner
          %p
            %a{:href => "//feeds.feedburner.com/#{Blog.feedburner}", :title => "Subscribe to my feed", :rel => "alternate", :type => "application/rss+xml"}
              %img{:src => "/public/images/feed-icon.png", :alt => "Subscribe to my feed"}
        %img{:src => "//www.gravatar.com/avatar/#{Digest::MD5.hexdigest(Blog.email.strip.downcase)}?s=180"}
        :markdown
          This blog was started to track my progress on my RubySoc 2010
          project, Ruby C extension support for JRuby.  It is now used for
          other things, too. Expect mostly programming language and VM topics.

          I am currently studying for a PhD degree at [Hasso Plattner
          Institute](http://www.hpi.uni-potsdam.de/), [University Of
          Potsdam](http://www.uni-potsdam.de/), where I also received
          my
          [masters](http://dl.dropbox.com/u/26242153/thesis/index.html).
          I'm with the [Software Architecture
          Group](http://www.hpi.uni-potsdam.de/hirschfeld/).

          If you want to know what technical topics I'm working on,
          follow me on [Twitter](http://twitter.com/timfelgentreff).
          Most of the code I'm talking about is on
          [GitHub](http://github.com/timfel), which is the central
          hub for my contributions to varous FOSS projects. I am
          also increasingly working on [research](/research.html) related
          stuff. I sometimes give [presentations](/presentations.html).
        %h3 Posts
        - articles.reverse_each do |article|
          %article
            .date= article.date.strftime("%Y/%m/%d")
            %a{:href => article.url}= article.title
