%header
  %h1{:"xmlns:dc" => "http://purl.org/dc/elements/1.1/", :property => "dc:title"}= title
  .author
    by
    %a{:href => "mailto:#{Blog.email}", :"xmlns:cc" => "http://creativecommons.org/ns#", :property => "cc:attributionName"} #{Blog.author}
    ,
    %time.timeago{:pubdate => true, :datetime => date.xmlschema}= date.strftime "%Y/%m/%d, %H:%M %Z"

%section.content
  != yield

%br
%section.license
  <a rel="cc:attributionURL" href="http://github.com/rkh/rkh.im">This work</a> is licensed under a
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/deed.en">Creative Commons
  Attribution-ShareAlike 3.0 Germany License</a>. Any source code included is, unless stated otherwise,
  licensed under a <a rel="licenses" href="http://creativecommons.org/licenses/MIT/">MIT License</a>.
  - if slug
    %span.noprint This does not apply for comments (below).

%section.comments
  / I both love and hate disqus
